<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Immigrant Database</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/datatables.min.css"/>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron text-center">
                <div class="col-md-12">
                    <h1>Immigrant Database</h1>
                </div>
                <div class="col-md-12">
                    <form action="/create/">
                        <input class="text-center btn btn-primary" type="submit" value="Create Immigrant Record" />
                    </form>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <form method="get">
                    <table id="filter-imm-table" style="margin-left: auto;margin-right: auto;">
                     <tr>
                        <td><p>First Name:</p></td>
                        <td>{{form.firstname}}</td>
                        <td><p>Last Name:&nbsp;</p></td>
                        <td>{{form.lastname}}</td>
                        <td><p>Gender:&nbsp;</p></td>
                        <td>{{form.gender}}</td>
                    </tr>
                    <tr>
                        <td><p>Process Location:&nbsp;</p></td>
                        <td>{{form.processLocation}}</td>
                        <td><p>Country:</p></td>
                        <td>{{form.country}}</td>
                    </tr>
                    <tr>
                        <td><p>Language:</p></td>
                        <td>{{form.spokenlang}}&nbsp;</td>
                        <td><p>Ethnicity:</p></td>
                        <td>{{form.ethnicity}}</td>
                    </tr>
                </table>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Filter Records" />
                    <a class="btn btn-primary" href="/" >Clear Filter </a>
                </div>
            </form>
            <br>
        </div>
        <div class="input_div col-md-10 col-md-offset-1">
           <table id="id_roll_table" class="table-striped table-bordered table-responsive table-condensed table-hover text-center">
               <tr>
                <th><h3>Name</h3></th>
                <th><h3>Gender</h3></th>
                <th><h3>Date of Arrival</h3></th>
                <th><h3>Port of Arrival</h3></th>
                <th><h3>Home Country</h3></th>
                <th><h3>Spoken Language</h3></th>
                <th><h3>Ethnic Background</h3></th>
                <th><h3>Settled In</h3></th>
                <th><h3>Action(s)</h3></th>
            </tr>
            {% for immigrant in immigrants %}
            <tr>
                <td><p>{{ immigrant.immlastname }}, {{immigrant.immfirstname }} </p></td>
                <td><p>{{ immigrant.immgender }} </p></td>
                <td><p>{{ immigrant.immdate }} </p></td>
                <td><p>{{ immigrant.immprocloc.plname}}, {{ immigrant.immprocloc.plcity.cname}}</p></td>
                <td><p>{{ immigrant.immeb.country.cname}}</p></td>
                <td><p>{{ immigrant.immeb.spokenlang.lname}}</p></td>
                <td><p>{{ immigrant.immeb.ethnicity.ename}}</p></td>
                <td><p>{{ immigrant.immdestcity.cname}}, {{ immigrant.immdestcity.cstate.sname }}</p></td>
                <td><a href="/edit/{{ immigrant.immid }}"> Edit</a><br><a href="/delete/{{ immigrant.immid }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('#id_immigrant_table').DataTable();
        $('input').on('keypress', function () {
            $('.has-error').hide();
        });
    });
    jQuery(window).on('load', function () {
        console.log('log')
        $('dataTables_paginate').addClass('btn-group');
        $('pageinate_button').addClass('btn-default');
    });
</script>
</body>
</html>