<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Immigrant Database</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                <div class="text-center">
                    <h1>Immigrant Database</h1>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <form method="get">
                    {{ form }}
                    <input type="submit" value="Filter" />
                </form>
            </div>
            <div class="input_div col-md-10 col-md-offset-1">
             <table id="id_roll_table" class="table-striped table-bordered table-responsive table-condensed table-hover text-center">
                 <tr>
                    <th></th>
                    <th><h3>Name</h3></th>
                    <th><h3>Gender</h3></th>
                    <th><h3>Date of Arrival</h3></th>
                     <th><h3>Port of Arrival</h3></th>
                     <th><h3>Home Country</h3></th>
                     <th><h3>Spoken Language</h3></th>
                     <th><h3>Ethnic Background</h3></th>
                     <th><h3>Settled In</h3></th>
                </tr>
                {% for immigrant in immigrants %}
                <tr>
                    <td><p>{{ immigrant.0 }}</p></td>
                    <td><p>{{ immigrant.2 }}, {{immigrant.1 }} </p></td>
                    <td><p>{{ immigrant.3 }} </p></td>
                    <td><p>{{ immigrant.4 }} </p></td>
                    <td><p>{{ immigrant.5}}</p></td>
                    <td><p>{{ immigrant.7}}</p></td>
                    <td><p>{{ immigrant.8}}</p></td>
                    <td><p>{{ immigrant.9}}</p></td>
                    <td><p>{{ immigrant.6.0}}, {{ immigrant.6.1 }}</p></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('input').on('keypress', function () {
            $('.has-error').hide();
        });
    });
</script>
</body>
</html>